/* src/App.css */

h1, h2, h3, h4 {
  color: #61dafb;
  text-shadow: 2px 2px 4px #000;
}

.App {
  /* On n'a plus besoin de flex-direction ici */
  min-height: 100vh;
}

/* NOUVEAU CONTENEUR PRINCIPAL */
.app-container {
  display: flex; /* Aligne la Sidebar et le contenu principal côte à côte */
}

/* On retire le display:flex de l'ancien conteneur */
.homepage-container {
  /* display: flex; */ /* <-- SUPPRIMER CETTE LIGNE */
  flex-grow: 1;
}

.main-content {
  flex-grow: 1; /* Permet au contenu de prendre toute la place restante */
  padding: 20px 40px; /* Un peu plus de padding horizontal */
  max-width: calc(100% - 250px); /* 250px est la largeur de la sidebar */
  overflow-y: auto;
}
