/* Styles pour une meilleure mise en page */
.main-content {
  flex-grow: 1;
  padding: 20px;
  max-width: calc(100% - 250px);
  overflow-y: auto;
}

/* Styles pour les titres et éléments principaux */
h1, h2, h3, h4 {
  color: #61dafb;
  text-shadow: 2px 2px 4px #000;
}

.homepage-container {
  display: flex;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.8);
}